body {
  padding-top: 50px;
}

p {
	font-size: 30px !important;
}

.starter-template {
  padding: 0px 15px;
  text-align: center;
}

h1 {
	margin: 0px;     
	color: #782F40;
	text-shadow: 2px 2px #CEB888;
	padding: 0px;
	font-size: 48px;
	font-family: "trebuchet ms", sans-serif;    
}

h2 {
	font-weight: normal;
}

h3 {
	font-weight: normal;
}

.navbar-custom {
	background-color:#9A2A2A !important;
}

.navbar-custom .navbar-text {
	color: white;
}

.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

th, td {
	padding: 15px;
}